ci:
  autoupdate_schedule: quarterly

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: check-json
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: check-added-large-files
    args: ['--maxkb=1000']

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    additional_dependencies: [
      'types-python-dateutil',
      'types-redis',
      'attrs>=21.3',
    ]
